:root{
    font-size: 14px;
    --falloutBlue: #0067B1;
    color: var(--falloutBlue);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.texto{
    @apply text-[#0067B1]
}

.etiqueta{
    @apply bg-slate-100 rounded-md border-2
}

header a{
    @apply transition hover:scale-125 
}

#contacto a{
    @apply transition hover:text-blue-900
}

.projects-box{
    @apply grid grid-cols-3 sm:bg-red-400 p-10
}

.coverImg{
    @apply h-60 object-cover
}

.flagImg{
    @apply h-60 object-cover
}

.buttonIcon{
    @apply text-3xl
}

small{
    @apply text-yellow-500 my-2 text-sm
}
.spanAmarillo span{
    @apply text-yellow-500 
}

.title{
    @apply text-3xl font-bold
}
section{
    @apply font-semibold

}

.icon{
    @apply hover:scale-110 transition hover:text-yellow-300 
}


