:root{
    font-size: 14px;
    --falloutBlue: #E1EFE6;
    color: var(--falloutBlue);
    background-color: #160C28;
}

html{
    scroll-behavior: smooth
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply bg-[#18181C] rounded-lg border 
}

.tags{
    @apply h-28 flex justify-center items-center
}

.content{
    @apply h-52 flex-col justify-center items-center
}


.texto{
    @apply text-[#0067B1]
}

.etiqueta{
    @apply bg-[#2f1a57] rounded
}

header a{
    @apply transition hover:scale-125 text-[#EFCB68]
}

#contacto a{
    @apply transition hover:text-[#EFCB68]
}

.projects-box{
    @apply grid grid-cols-3 sm:bg-red-400 p-10
}

.coverImg{
    @apply h-60 object-center  rounded-t-lg w-full
}

.flagImg{
    @apply h-60 object-cover
}

.buttonIcon{
    @apply text-3xl
}

small{
    @apply text-[#EFCB68] my-2 text-sm
}
.spanAmarillo span{
    @apply text-[#EFCB68] 
}

.title{
    @apply text-3xl font-bold
}
section{
    @apply font-semibold

}

.icon{
    @apply hover:scale-110 transition hover:text-yellow-300 
}


